<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - School Project</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">
        <header class="Bank-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="link-secondary" href="#">Balance</a>
                </div>
                <div class="col-4 text-center">
                    <a class="Bank-header-logo text-dark" href="#">School Bank</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="link-secondary" href="#" aria-label="Search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5" /><path d="M21 21l-5.2-5.2" /></svg>
                    </a>

                        <a class="btn btn-sm btn-outline-secondary">@Html.ActionLink("Sign Up", "Register", "Customer")</a>

                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 link-secondary">@Html.ActionLink("My Account", "MyAccount", "Account")</a>
                <a class="p-2 link-secondary">@Html.ActionLink("Withdraw", "Index", "Home")</a>
                <a class="p-2 link-secondary">@Html.ActionLink("Deposit", "Deposit", "Account")</a>
                <a class="p-2 link-secondary">@Html.ActionLink("Transfer", "Index", "Home")</a>
                <a class="p-2 link-secondary">@Html.ActionLink("News", "Index", "Home") </a>
            </nav>
        </div>
    </div>







        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
